
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color:  cadetblue;
  margin: 1rem 3rem;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}

header {
  background-color: beige;
  padding: 1rem 0rem;
  padding:1rem;
  display:grid;
  grid-template-columns: 4fr 1fr 2fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  @media(max-width: 600px) {
    display: flex;
    flex-direction: column;
  }

  & div.title {
    display:grid;
    align-items:center;
    justify-items: center;
    font-weight:bold;
    font-size:3rem;
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    @media(max-width: 600px) {
      padding: 0.25rem;
      font-size:1.25rem;
    }
  }
  & div.fresh-logo {
    display:grid;
    align-items: center;
    & img {
    max-width: 100%;
    height: auto;
      @media(max-width: 600px) {
        display:none;
      }
    }
  }

  & nav {
    border: 4px solid black;
    margin-left: 5rem;
    padding: 0.5rem;
    font-family: serif;
    font-weight: 600;
    display: flex;
    flex-direction:column;
    margin-left:0.375rem;
    @media(max-width: 600px) {
      padding: 0.25rem;
    }
  }

}

main {
  padding: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 0.25rem;
  & a {
    background-color: #e5e7eb;
    text-decoration: none;
    margin: 0.25rem 0.5rem;
    border: 1px solid #000000;
  }
  & img {
      width: 100%;
      height: 37px;
      @media(max-width: 600px) {
        width: 120px;
      }
  }
  & .source-text {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0.5rem 0.5rem;
    display: grid;
    align-items:center;
    justify-items: center;
    @media(max-width:400px) {
      font-size:0.75rem;
      margin: 0 0.125rem 0.125rem;
      padding:0;
    }
  }
  @media(max-width:400px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
    padding:0.00125rem;
  }
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

/* Third-party WCs*/
two-up {
  height: auto;
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    @media(max-width:400px) {
      max-width:100%;
    }
  }
}

emoji-picker-wrapper {
  height: auto;
  width: 50%;
  display: flex;
  flex:1;
  gap: 4px;
  width: 50%;

  emoji-picker {
    min-width: 50%;
    @media(max-width:400px) {
      flex-direction: column-reverse;
      --emoji-size: 1.1rem;
      --emoji-padding: 0.1rem;
      --num-columns: 4;
    }
  }
}